html {
    font-size: 22px;
}
.content{
    padding:20px
}
#pagetop {
    position:fixed;
    z-index:4;
    font-size:16px;
    padding-left:1px;
    padding-right:16px;
    font-family:'Source Sans Pro Topnav', sans-serif;
    min-width:330px;
}
.header{
    position: fixed;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body {
    background: #333;
    color: whitesmoke;
}
