@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Freehand&display=swap');


:root {
    --text-header-color: whitesmoke;
    --text-body-color-1: #ff2929;
    --text-body-color-2: #a90000;
    --text-body-color-3: #da0000;
    --text-body-color-4: #050505;
    --background-section-1: #000000;
    --background-section-2: #333;
    --background-section-3: #545454;
    --background-section-4: #982424;

}

html {
    font-size: 50px;
}

body {
    background: var(--background-section-1);
    color: var(--text-header-color);
    margin: 0;
    font-family: 'Agdasima', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: var(--text-header-color);
    text-decoration: none;
    font-size: 31px;
}

.container {
    max-width: 1370px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.side {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

    overflow: hidden;
    position: absolute;
    cursor: crosshair;
}

.side::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--background-section-1);
    opacity: 0.6;
}

.side .center-title {
    font-family: 'Freehand', cursive;
    color: var(--text-header-color);
    font-size: 8vw;
    margin: 0 15vw;
    width: 70vw;
}

#left-slider {
    background-image: url("https://source.unsplash.com/FWoq_ldWlNQ");
    background-size: 100vw;
    height: 100vh;

    position: absolute;
    object-fit: fill;
    z-index: 3;
}

#right-slider {
    background-image: url("https://source.unsplash.com/By-tZImt0Ms");
    background-size: cover;
    height: 100vh;

    position: absolute;
    object-fit: fill;
    z-index: 1;
}

.footer-col {
    width: 22%;
    padding: 0 15px;
    transition: opacity 0.4s ease;
    cursor: pointer;
    min-width: 200px;
}

.row:hover > .footer-col {
    opacity: 0.3;
}

.row:hover > .footer-col:hover {
    opacity: 1;
}

.footer-col h4 {
    font-size: 43px;
    color: var(--text-header-color);
    margin-bottom: 30px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: var(--text-body-color-1);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.contact-section {
    display: grid;
    align-content: baseline;
}


.hidden {
    filter: blur(3px);
    transform: translateX(-50%);
    -moz-transition: all 0.3s ease;
    transition: all 0.7s ease;
    align-items: center;
}

.hidden:invalid {
    filter: blur(0);

    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    filter: blur(0);
    transform: translateX(0);
}

.icon {
    display: inline;
    background: var(--text-header-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.footer-col ul {
    padding-left: 0;
}

.footer-col ul li {
    transition: all 0.3s ease;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    margin: 15px 0;
}

.emo {
    transform: translateY(-4px)
}


.footer-col ul li:hover {
    padding-left: 10px;

}

.contact-me {
    display: grid;
    align-content: baseline;
}

.contact-me a {
    transition: all 0.3s ease;
    font-weight: 300;
    text-transform: capitalize;
    display: flex;
    margin: 15px 0;
}

.contact-me a:hover {
    padding-left: 10px;
    color: var(--text-body-color-1);
}

.contact-me a:hover > .icon {
    background: var(--text-body-color-1);
}

.footer-col ul li a {
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: var(--text-body-color-1);
}


.h1-title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-header-color);
}

.left {
    left: 0;
    float: left !important;
}

.right {
    right: 0;
    float: right !important;
}

.section-1-border {
    background: var(--background-section-1);
    color: var(--text-body-color-1);
    width: auto;

    text-align: center;
}

.section-1 {
    background: var(--background-section-1);
    color: var(--text-body-color-1);
    width: auto;
    padding: 100px;
    text-align: center;
}

.background-image-s1 {
    background-image: url("https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1189&q=80");
    position: absolute;
    height: 100vmin;
    width: 100%;
    opacity: 0.1;
    object-fit: fill;
}

.background-colors-black {
    background: var(--background-section-1);
}

.background-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    object-fit: fill;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.z4 {
    z-index: 4;
}

.z5 {
    z-index: 5;
}

.z6 {
    z-index: 6;
}

/* htabi=height-to-add-background-image */
.htabi {
    height: 100vh;
    width: 100vw;
}

.relat {
    position: relative;
}

.apsolute {
    position: absolute;
}

.section-1-cards {
    color: var(--text-body-color-1);
    height: 100vmin;
    width: auto;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;

}

.deck-of-cards {
    transform: translateX(-22vmin);
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    position: absolute;
}

.deck-of-cards, .cards, .card {
    aspect-ratio: 5/7;
}

.deck-of-cards, .cards, .big-card {
    height: 30vmin;
}

.card-swiper {
    height: 30vmin;
    margin: 20px;
    display: grid;
    place-items: center;
}

.cards {
    position: absolute;
    height: 30vmin;
    transition: transform 0.4s cubic-bezier(0.74, 0.21, 0.37, 1.05);
}

.cards[data-status="after"] {
    transform: translateX(150%) scale(0);
}

.cards[data-status="before"] {
    transform: translateX(-50%) scale(0);
}

.cards[data-status="active"] {
    transition-delay: 0.3s;
    transform: translateX(0) scale(100%);
}

.cards[data-status="becoming-active-from-before"] {
    transform: translateX(-50%) scale(0);
    transition: none;
}

.cards[data-status="becoming-active-from-after"] {
    transform: translateX(150%) scale(0);
    transition: none;
}

.card {
    background: linear-gradient(3deg, hsl(var(--text-header-color)), hsl(var(--background-section-4)));
    display: inline;
    border-radius: 1vmin;
    transition: all 0.7s cubic-bezier(0.52, -0.63, 0.38, 0.98);
    position: absolute;
    box-shadow: none;
}

.card::before, .card::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: inherit;

}

.card::after {
    filter: blur(3em);
    opacity: 0.5;
}

.card::before {
    filter: blur(3em);
}

.big-card {
    height: 30vmin;
}

.small-card {
    height: 15vmin;
}

.big-card:nth-child(2) {
    transform: translate(-5%) rotate(-5deg);
}

.big-card:nth-child(3) {
    transform: translate(3%) rotate(9deg);
}

.cards:hover > .big-card:nth-child(2) {
    transform: translate(-75%, 8%) rotate(-15deg);
}

.cards:hover > .big-card:nth-child(3) {
    transform: translate(73%, 8%) rotate(19deg);
}

.cards:hover > .small-card:nth-child(4) {
    transform: translate(-105%, -50%) rotate(-95deg);
}

.cards:hover > .small-card:nth-child(5) {
    transform: translate(275%, -38%) rotate(-25deg);
}

.cards:hover > .small-card:nth-child(6) {
    transform: translate(40%, 168%) rotate(-65deg);
}

.swap-buttons {
    margin-top: 11vmin;
    display: flex;
    justify-content: space-around;

}

.swap-buttons > button {
    font-size: 2.5vmin;
    border: 0.4vmin solid var(--text-header-color);
    border-radius: 20%;
    color: var(--text-header-color);
    background-color: var(--background-section-1);
    height: 7vmin;
    width: 7vmin;
    cursor: pointer;
    margin: 0vmin 4vmin;
}

.section-2-border {
    background: var(--background-section-2);
    color: var(--text-body-color-2);
    width: auto;
    text-align: center;
}

.section-2 {
    background: var(--background-section-2);
    color: var(--text-body-color-2);
    width: auto;
    padding: 100px;
    text-align: center;
}

.section-3-border {
    background: var(--background-section-3);
    color: var(--text-body-color-3);
    width: auto;
    text-align: center;
}

.section-3 {
    background: var(--background-section-3);
    color: var(--text-body-color-3);
    width: auto;
    padding: 100px;
    text-align: center;
}

.section-4-border {
    background: var(--background-section-4) !important;
    text-align: center;
}

.section-4 {
    background: var(--background-section-4);
    color: var(--text-body-color-4);
    width: auto;
    padding: 100px;
    text-align: center;
}

.page-top {
    position: sticky;
    z-index: 4;
    padding-left: 1px;
    padding-right: 16px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
}

.line-1 {
    height: 2px;
    width: 100%;
    background: var(--text-header-color);
    margin: 0;
}

.buttons-header {
    padding: 5px 15px;
    margin: 0.5em 0.5em;
    border: none;
    border-radius: 5px;
    background: var(--background-section-2);
    color: var(--text-header-color);
    transition: all 0.3s ease;
    text-decoration: none; /* Remove underline from link */
    display: inline-block;
}

.buttons-header:hover {
    background-color: var(--background-section-1);
    color: var(--text-body-color-1);
}

.my-foto {
    background: linear-gradient(3deg, hsl(var(--text-header-color)), hsl(var(--background-section-4)));
    position: relative;
}

.my-foto::before, .my-foto::after {
    content: "";

    position: absolute;
    inset: 0;
    z-index: -1;
    background: inherit;
    isolation: isolate;

}

.my-foto::after {
    filter: blur(3em);
    opacity: 0.5;
}

.my-foto::before {
    filter: blur(3em);
}

.header {
    background: var(--background-section-1);
    position: relative;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.footer {
    padding: 70px 0;
    background: var(--background-section-1);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tool-tip-text {
    visibility: hidden;
    width: 140px;
    background-color: var(--background-section-3);
    color: var(--text-header-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -50%;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip .tool-tip-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background-section-3) transparent transparent transparent;
}

.tooltip:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
}
